* {
    margin: 0;
    box-sizing: border-box;
}

#container {
    height: 300px;
    width: 90%;
    display: flex;
    flex-flow: wrap;
    margin: auto;
}

#zold {
    background-color: green;
    width: 33%;
    height: 100%;
    order: 3;
}

#sarga {
    background-color: yellow;
    width: 67%;
    height: 100%;
    order: 2;
}

#lila {
    background-color: purple;
    width: 100%;
    height: 10%;
    order: 1;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 15px;
}

#neonkek {
    background-color: aqua;
    display: inline-flex;
    width: 4%;
    height: 55%;
    align-items: center;
    justify-content: space-between;
}

#lila2 {
    background-color: purple;
    width: 100%;
    height: 10%;
    order: 1;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 15px;
    margin-bottom: 10px;
}

#szurke {
    background-color: grey;
    width: 100%;
    height: 10%;
    order: 4;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 15px;
    margin-top: 10px;
    margin-right: 7%;
    margin-left: 4%;
}

#container2 {
    height: 500px;
    width: 100%;
    display: flex;
    flex-flow: wrap;
}

#zold2 {
    background-color: green;
    width: 22%;
    height: 130%;
    order: 2;
    margin-left: 5%;
}

#sarga2 {
    background-color: yellow;
    width: 66%;
    height: 130%;
    order: 3;
    margin-right: 5%;
    margin-left: 5px;
}

#neonkek2 {
    background-color: aqua;
    display: inline-flex;
    width: 4%;
    height: 55%;
    align-items: center;
    justify-content: flex-start;
}

#neonkek2-1 {
    background-color: aqua;
    display: inline-flex;
    width: 4%;
    height: 55%;
    align-items: center;
    justify-content: flex-start;
    margin-left: 4%;
}